/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

* {
    word-wrap: break-word;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */

body,
html {
    height: 100%;
    min-height: 100%;
    background-color: #000000;
}

body {}

.no-js {
    padding-top: 106px;
}

h2 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans", Helvetica, sans-serif;
}

.loading {
    overflow: hidden;
}

.loading #loader {
    background: url('../img/ico_loading.gif') no-repeat center center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: antiquewhite;
}

section {
    opacity: 0;
    height: 360px;
}

.loaded section,
.no-js section {
    opacity: 1;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

main {
    overflow-x: hidden;
}

#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.bcg {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 80%;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8%;
    text-align: center;
    position: relative;
}

.hsContent h2 {
    color: #fff8de;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}

.hsContent p {
    width: 80%;
    color: #b2b2b2;
}

.hsContent a {
    color: #b2b2b2;
    /* text-decoration: underline; */
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

/* Social */

/* .social-links {
    float: right;
    margin: 0;
    padding: 0;
} */

.social-links {
    min-width: 450px;
    /* width: max-content; */
    margin: 8%;
    /* padding: 5% 5% 5% 30%; */
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
}

.social-links * {
    color: #ffffff;
    display: inline-table;
    list-style: outside none none;
    margin-left: 3px;
    transition: all 250ms ease-in-out 0s;
}

.social-links a {
    border-radius: 50%;
    height: 20px;
    line-height: 15px;
    text-align: center;
    width: 20px;
}

.social-links i {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

.right-side-social-actions .social-links i {
    color: #777777;
    font-size: 22px;
}

#slide-1 #social {
    margin: 0;
    padding: 1%;
}

.social-links li {
    margin: 0 2em;
}

/* Slide 1 */

#slide-1 .bcg {
    background-image: url('../img/bcg_slide-1.jpg');
    background-position: center center;
}

#slide-1 .hsContent {
    opacity: 0;
}

/* About */

#about {
    height: auto !important;
}

#about * {
    color: #333333;
}

#about .bcg {
    background-color: antiquewhite;
}

#about .container {
    padding-top: 4em;
}

#about h5 {
    margin: 0;
}

#about .features__hilightsListing .feature__name {
    color: #063a62;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 12px;
}

#about .features__hilightsListing .feature {
    width: 80%;
    margin: 2em auto;
    background-color: floralwhite;
}

#about .features__hilightsListing .feature__wrapper {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
    /* min-height: 170px; */
}

/* Slide 2 */

#slide-2 .bcg {
    background-image: url('../img/coming-soon.jpg');
    background-position: center center;
}

#slide-2 .hsContent {
    opacity: 0;
}

#slide-2 h2 {}

/* Slide 3 */

#slide-3 {
    height: auto !important;
}

#slide-3 .bcg {
    /* background-image: url('../img/bcg_slide-3.jpg'); */
    background-color: #101010;
}

#slide-3 .hsContent {
    left: 2%;
    position: relative;
}

#slide-3 h2 {
    color: #f2ead6;
    background: none;
    width: max-content;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

#slide-3 .row {
    margin-top: 2%;
}

#slide-3 form {
    padding-bottom: 5%;
}

/* Slide 4 */

#slide-4 .bcg {
    background-image: url('../img/bcg_slide-4.jpg');
    background-position: center center;
}

#slide-4 .hsContent {}

#slide-4 h2 {
    padding-left: 0;
    padding-right: 0;
}

/* .module {
    width: 20%;
    min-height: 100px;
    background: white;
    position: relative;
    float: left;
    padding: 20px;
    margin-right: 4%;
    margin-bottom: 4%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
} */

/* Detail */

#detail {
    height: auto !important;
}

#detail .ico-landing-page-img {
    margin-top: 0;
}

#detail img.ico-landing-page-img {
    padding: 20px 0;
}

#detail h1 {
    margin-bottom: 0.5em;
}

#detail * {
    font-family: inherit;
}

#detail h2 {
    margin-top: 20px;
}

#detail .about_cryptic_ico_about>div {
    max-height: 12em;
}

#detail .wpb_single_image.vc_align_right {
    text-align: center;
}

/* Roadmap */

/* 

#timeline .hsContainer {
    margin: 0;
}

#timeline .roadmap .milestone {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    -webkit-display: flex;
    -webkit-flex-direction: column;
}

#timeline .roadmap .milestone.reverse-column {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
}

#timeline .roadmap .milestone.reverse-column .circle {
    margin-top: 0;
    margin-bottom: 20px;
}

#timeline .roadmap .milestone.reverse-column .text-container {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

#timeline .roadmap .milestone .text-container {
    height: 75px;
    display: flex;
    -webkit-display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    min-height: 89px;
}

#timeline .roadmap .milestone .text-container p {
    color: #19323c;
    margin: 0 auto;
}

#timeline .roadmap .milestone .date {
    font-weight: 700;
}

#timeline .roadmap .milestone .circle {
    margin: 10px auto 0 auto;
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 7px #12b2a5;
    border-radius: 100%;
    background: #fff;
    display: block;
    margin: 0 auto;
}

#timeline .roadmap .milestone .circle:after,
#timeline .roadmap .milestone .circle:before {
    position: absolute;
    content: " ";
    display: block;
    width: 135px;
    height: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #12b2a5;
}

#timeline .roadmap .milestone .circle:before {
    right: 15px;
}

#timeline .roadmap .milestone .circle:after {
    left: 15px;
}

#timeline .roadmap .milestone:not(.completed) .date {
    color: #19323c;
}

#timeline .roadmap .milestone:not(.completed) .circle {
    border-color: #e1eaf0;
}

#timeline .roadmap .milestone:not(.completed) .circle:after,
#timeline .roadmap .milestone:not(.completed) .circle:before {
    background-color: #e1eaf0;
}

#timeline .roadmap .milestone.completed .date {
    color: #12b2a5;
} */

/* background: linear-gradient(whitesmoke, grey); */

/* The actual timeline (the vertical ruler) */

#timeline {
    /* background-color: #474e5d; */
    background: linear-gradient(140deg, #000 0%, #faebd7 100%);
    /* padding: 4%; */
    height: auto;
}

#timeline .hsContainer>h2 {
    background: none;
    width: max-content;
    margin: 1em auto;
    font-size: 35px;
    line-height: 38px;
    color: white;
}

#timeline .roadmap {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

#timeline .roadmap::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */

#timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */

#timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */

#timeline .left {
    left: 0;
    margin: -4px;
}

/* Place the container to the right */

#timeline .right {
    left: 50%;
    margin: 4px;
}

/* Add arrows to the left container (pointing right) */

#timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */

#timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

#timeline .right::after {
    left: -16px;
}

/* The actual content */

#timeline .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

#timeline .content p {
    font-size: 1.5em;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    #timeline .roadmap::after {
        left: 31px;
    }
    #timeline .left {
        margin: 4px;
    }
    /* Full-width containers */
    #timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    #timeline .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    #timeline .left::after,
    #timeline .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    #timeline .right {
        left: 0%;
    }
}

.member01-content-inside .content-div-content p {
    width: auto;
}

h3.member01_name.light_name {
    display: inline-block;
}

#slide-4 .hsContent {
    margin-left: -340px;
    position: fixed;
}

#slide-4 h2 {
    background: none;
}

.come-in:nth-child(odd) {
    /* animation-duration: 0.6s; */
}

/* Team */

/* equal card height */

.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */

.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */

.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

/* control image height */

.card-img-top-250 {
    max-height: 250px;
    overflow: hidden;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Medium devices (tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .come-in {
        transform: translateY(250px);
        animation: come-in 0.8s ease forwards;
    }
    body,
        {
        height: auto;
    }
    #header {
        display: block;
        position: fixed;
        z-index: 9;
        width: 100%;
    }
    #navbar {
        width: auto;
        float: right;
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    section {
        min-width: 768px;
        height: 600px;
    }
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .hsContent {
        max-width: 700px;
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: left;
        padding: 0;
    }
    .hsContent h2 {
        font-size: 35px;
        line-height: 38px;
    }
    .hsContent p {
        width: 400px;
    }
    #slide-1 .hsContent {
        bottom: 20%;
        top: auto;
    }
    #slide-2 .hsContent {
        top: auto;
    }
    #slide-2 h2 {
        position: fixed;
        top: 70%;
    }
    #slide-2 a {
        color: #fff;
        font-size: 0.7em;
    }
    /* #slide-3 .hsContent {
    } */
    /* #slide-3 h2 {
    } */
    .already-visible {
        transform: translateY(0);
        animation: none;
    }
    @keyframes come-in {
        to {
            transform: translateY(0);
        }
    }
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 768px) {
    #header {
        display: none;
    }
    /* #menu is the original menu */
    .js #menu {
        display: none;
    }
    .js .slicknav_menu {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 9;
    }
    /* Social links */
    #slide-1 #social {
        opacity: 1;
        top: 40%;
        left: -10%;
        width: auto;
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}